:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.02 152);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.02 152);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.02 152);
  /* --primary: oklch(0.60 0.17 155);
  --primary-tint: oklch(from var(--primary) 70% 0.28 155);
  --primary-shade: oklch(from var(--primary) 45% 0.20 155); */


  --primary: oklch(0.65 0.15 140);
  --primary-tint: oklch(from var(--primary) 70% 0.28 140);
  --primary-shade: oklch(from var(--primary) 35% 0.20 140);






  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.97 0.01 145);
  --secondary-foreground: oklch(0.216 0.02 145);
  --muted: oklch(0.97 0.01 145);
  --muted-foreground: oklch(0.553 0.02 145);
  --accent: oklch(0.97 0.01 145);
  --accent-foreground: oklch(0.216 0.02 145);
  --destructive: oklch(0.577 0.215 27.325);
  --border: oklch(0.923 0.01 145);
  --input: oklch(0.923 0.01 145);
  --ring: oklch(0.65 0.25 140);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.20 145);
  --chart-3: oklch(0.398 0.15 145);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 145);
  --sidebar-foreground: oklch(0.147 0.02 152);
  --sidebar-primary: oklch(0.65 0.25 140);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.97 0.01 145);
  --sidebar-accent-foreground: oklch(0.216 0.02 145);
  --sidebar-border: oklch(0.923 0.01 145);
  --sidebar-ring: oklch(0.65 0.25 140);
  --warning: oklch(0.769 0.188 70.08);



  --card-padding: 1.25rem;
  --root-scale: 1;
}

.dark {
  --background: oklch(0.137 0.03 99);
  --background: oklch(0.127 0.03 150);
  --foreground: oklch(0.985 0.005 145);
  --card: oklch(0.216 0.03 152);
  --card-foreground: oklch(0.985 0.005 145);
  --popover: oklch(0.216 0.03 152);
  --popover-foreground: oklch(0.985 0.005 145);
  /* --primary: oklch(50% 0.20 145); */
  /* --primary: oklch(65% 0.18 155); */
  /* --primary-tint: oklch(from var(--primary) 80% 0.24 155);
  --primary-shade: oklch(from var(--primary) 50% 0.20 155); */


  --primary: oklch(0.65 0.15 140);
  --primary-tint: oklch(from var(--primary) 80% 0.24 140);
  --primary-shade: oklch(from var(--primary) 50% 0.20 140);
   --warning: oklch(0.769 0.188 70.08);


  --primary-foreground: oklch(0.15 0.02 152);
  --secondary: oklch(0.268 0.04 152);
  --secondary-foreground: oklch(0.985 0.005 145);
  --muted: oklch(0.268 0.04 152);
  --muted-foreground: oklch(0.709 0.05 145);
  --accent: oklch(0.268 0.04 152);
  --accent-foreground: oklch(0.985 0.005 145);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.78 0.15 145);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.20 145);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.03 152);
  --sidebar-foreground: oklch(0.985 0.005 145);
  --sidebar-primary: oklch(0.78 0.15 145);
  --sidebar-primary-foreground: oklch(0.15 0.02 152);
  --sidebar-accent: oklch(0.268 0.04 152);
  --sidebar-accent-foreground: oklch(0.985 0.005 145);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.78 0.15 145);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-shade: var(--primary-shade);
  --color-primary-tint: var(--primary-tint);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-warning: var(--warning);

}
