:root {
  --radius: 0.625rem;
  --background: oklch(0.98 0 197.09);
  --foreground: oklch(0.147 0.02 152);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.02 152);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.02 152);
  --primary: oklch(0.65 0.15 180);

  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.91 0.02 182.52);
  --secondary-foreground: oklch(0.216 0.02 180);
  --muted: oklch(0.92 0.01 179.59);
  --muted-foreground: oklch(0.553 0.02 180);
  --accent: oklch(0.9 0.03 181.22);
  --accent-foreground: oklch(0.216 0.02 180);
  --destructive: oklch(0.577 0.215 27.325);
  --border: oklch(0.923 0.01 180);
  --input: oklch(0.923 0.01 180);
  --ring: oklch(0.65 0.25 180);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.20 180);
  --chart-3: oklch(0.398 0.15 180);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 180);
  --sidebar-foreground: oklch(0.147 0.02 152);
  --sidebar-primary: oklch(0.15 0.25 180);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.97 0.01 180);
  --sidebar-accent-foreground: oklch(0.216 0.02 180);
  --sidebar-border: oklch(0.923 0.01 180);
  --sidebar-ring: oklch(0.65 0.25 180);
  --warning: oklch(0.769 0.188 70.08);
  --info: oklch(0.89 0.025 254);
  --info-foreground: oklch(0.18 0.11 250);
  --card-padding: 1.25rem;
  --root-scale: 1;
}

.dark {
  --background: oklch(0.107 0.03 150);
  --background: oklch(0.1653 0.0111 185.3493);
  --foreground: oklch(0.99 0.005 180);
  --card: oklch(0.19 0.02 181.89);
  --card-foreground: oklch(0.985 0.005 180);
  --popover: oklch(0.22 0.03 175.42);
  --popover-foreground: oklch(0.985 0.005 180);

  --primary: oklch(0.75 0.15 180);
  
  --info: oklch(0.23 0.077 264);
  --info-foreground: oklch(0.84 0.06 269.31);
   --warning: oklch(0.769 0.188 70.08);

  --primary-foreground: oklch(0.15 0.02 152);
  --secondary: oklch(0.37 0.04 253.11);
  --secondary-foreground: oklch(0.985 0.005 180);
  --muted: oklch(0.25 0.02 162.81);
  --muted-foreground: oklch(0.709 0.05 180);
  --accent: oklch(0.27 0.03 191.89);
  --accent-foreground: oklch(0.985 0.005 180);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.78 0.15 180);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.20 180);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.03 152);
  --sidebar-foreground: oklch(0.985 0.005 180);
  --sidebar-primary: oklch(0.78 0.15 180);
  --sidebar-primary-foreground: oklch(0.15 0.02 152);
  --sidebar-accent: oklch(0.268 0.04 152);
  --sidebar-accent-foreground: oklch(0.985 0.005 180);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.78 0.15 180);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-shade: var(--primary-shade);
  --color-primary-tint: var(--primary-tint);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
}
